<div class = "view">
    <h1 class="index_title">Your Schedule</h1>
    <table id="users" class="view_table">
        <tr><th>Title</th>
            <th>Units</th>
            <th>Division</th>
        </tr>

        <tr>
        <% @course.each do |t| %>
            <td><%= t.title %></td>
            <td><%= t.units %></td>
            <td><%= t.div %></td>
            <td><%= button_to "Delete Class", delete_path(id: t), :class => "button medium", :style => 'background-color: #FDB515', :method =>:patch %></td>
        </tr>
         <% end %>
    </table>
    <%= button_to "Edit Schedule", schedule_index_path, :method => "get" , :class=>"button medium"%>
</div>