<!DOCTYPE html>
<html>
<header>
  <%= render 'layouts/navigation' %>
</header>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fa16Proj2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<<<<<<< HEAD
=======
<body style="background: url('../images/berkeleyskyline.png') no-repeat 0 45px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
>>>>>>> 06c15187bdc99718cdc3b5add1ecd40fc37f3307

<%= yield %>

</html>
